
.DS_Store

.vscode/

Raspberry Pi/Image Recognition/Output/

Raspberry Pi/rpi_best.weights

Raspberry Pi/rpi.cfg

Raspberry Pi/rpi.data

Raspberry Pi/rpi.names

Raspberry Pi/Image Recognition/__pycache__/
